extends ./layout/index

block slider 
    .slider 
        h1 Rio de Janeiro 
        em Aventura


block contenido
    main.container.mt-5 
        h2.text-center.mb-5 Sobre Nosotros 
        .row.mb-5 
            .col-md-6
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ut nulla auctor, venenatis lacus a, tincidunt nibh. Sed sit amet semper lectus, ut luctus arcu. Sed vel odio in metus laoreet tincidunt ut porttitor eros. 
                p Fusce porta blandit turpis, ac rutrum massa placerat ut. Nunc luctus, nunc non posuere viverra, sem justo auctor nisi, ac fermentum leo ligula ut est. Fusce quis sem dignissim, fermentum elit eu, tincidunt odio. Ut aliquam enim in vehicula tincidunt.
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt="Imagen nosotros", class="img-fluid")

        include ./layout/bloqueviajes
    
    .descuento
        .container 
            .row 
                .col-md-6 
                    .contenido 
                        h3 5% de Descuento 
                        p.titulo Viaje a Canada 
                        p.fecha 20 de Marzo de 2022 -28 de Marzo de 2022
                        p.precio $2,500 USD
    .container 
        h2.mt-5.text-center Testimoniales
        include ./layout/bloquetestimoniales